<% if current_user.admin? %> 
<h1>Editing Tohamhalshamel</h1>

<%= render 'form', tohamhalshamel: @tohamhalshamel %>

<%= link_to 'Show', @tohamhalshamel %> |
<%= link_to 'Back', tohamhalshamels_path %>
<%else%>
<h1><%= "Contant to admin"%>
<%end%>