<% if current_user.admin? %>  
<h1>Editing Alashiab Alsoqium</h1>

<%= render 'form', alashiab_alsoqium: @alashiab_alsoqium %>

<%= link_to 'Show', @alashiab_alsoqium %> 
<%= link_to 'Back', alashiab_alsoqia_path %>

<%else%>
<h1><%= "Contant to admin"%>
<%end%>
