<h1>Editing Water Liter Delivered</h1>

<%= render 'form', water_liter_delivered: @water_liter_delivered %>

<%= link_to 'Show', @water_liter_delivered %> |
<%= link_to 'Back', water_liter_delivereds_path %>
