<% if current_user.admin? %> 
<h1>Editing Aradah</h1>

<%= render 'form', aradah: @aradah %>

<%= link_to 'Show', @aradah %> |
<%= link_to 'Back', aradahs_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>