<% if current_user.admin? %> 
<h1>Editing Smallproject</h1>

<%= render 'form', smallproject: @smallproject %>

<%= link_to 'Show', @smallproject %> |
<%= link_to 'Back', smallprojects_path %>
<%else%>
<h1><%= "Please contact the admin"%>
<%end%>